@import '../../styles/_variables.css';

.title {
  font-weight: 700;
    font-size: 1.5rem;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
}

.button_wrapper {
  margin-left: 1.1rem;
}

.container {
  display: flex;
  flex-direction: column;

}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;

  h2 {
    font-weight: 700;
    font-size: 1.35rem;
  }

  a {
    font-size: 1rem;
    color: var(--blue);
  }

}


.products__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;


  // quando for deixar responsivo:
  //:last-child {
  //  margin-right: auto;
  //  margin-left: 2.6rem;
  //}
}
