@import '../../styles/_variables.css';


.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:1rem;
  gap: 10px;
  width: auto;
  height: 40px;
  border: 1px solid #2A7AE4;
  font-weight: 600;

}

.primary {
  color: #2A7AE4;;
  background: #FFFFFF;

}
.primary:hover {
  color: var(--white);
  background: var(--blue);
  cursor: pointer
}

.secondary {
  color: #FFF;
  background: #2A7AE4;
}

.secondary:hover {
  color: var(--blue);
  background: var(--white);
  cursor: pointer
}

.large {
  width: 10rem;
}

.disabled {
    color: lightgray;
    background: #FFF;
    border: 1px solid grey;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled:hover {
    color: lightgray;
    background: #FFF;
    border: 1px solid grey;
    opacity: 0.5;
    cursor: not-allowed;
}