
.productDetailsPage {
  display: flex;
flex-direction: column;
  justify-content: center;
    align-items: center;
}

.backbtn {
  align-self: flex-start;
  margin: 1rem;

}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
  gap: 1rem;

}

.img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.name {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1rem;
}

.price {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.01rem;
}

.description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.01rem;
}